<header>
    <div class="container">
      <nav>
        <ul>
          <li>
            <a routerLink="/link">PC</a>
          </li>
          <li>
            <a routerLink="/link">Games</a>
          </li>
          <li>
            <a routerLink="/link">Pads</a>
          </li>
          <li>
            <a routerLink="/link">Keyboards</a>
          </li>
          <li>
            <a routerLink="/link">Headphones</a>
          </li>
          <li>
            <a routerLink="/link">Mouses</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
